openapi: 3.0.0
info:
  title: Media Distribution System API
  version: 1.0.0
  description: >
    API для управления устройствами (Orange Pi), загрузки медиафайлов,
    синхронизации контента и работы с личным кабинетом администратора.

servers:
  - url: https://server.com/api

paths:

  ############################
  # ADMIN AUTH
  ############################

  /admin/auth/login:
    post:
      summary: Авторизация администратора
      tags: [Admin Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
              required: [username, password]
      responses:
        "200":
          description: JWT токен
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  token_type:
                    type: string


  ############################
  # ADMIN DEVICES
  ############################

  /admin/devices:
    get:
      summary: Получить список всех устройств
      tags: [Admin Devices]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Device"

  /admin/devices/{deviceId}:
    get:
      summary: Данные конкретного устройства
      tags: [Admin Devices]
      parameters:
        - name: deviceId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Device"

    patch:
      summary: Изменить параметры устройства
      tags: [Admin Devices]
      parameters:
        - name: deviceId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
      responses:
        "200":
          description: OK

  /admin/devices/{deviceId}/files:
    get:
      summary: Получить список файлов, назначенных устройству
      tags: [Admin Devices]
      parameters:
        - name: deviceId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  device_id:
                    type: string
                  files:
                    type: array
                    items:
                      $ref: "#/components/schemas/FileDescriptor"

  /admin/devices/{deviceId}/assign-file:
    post:
      summary: Назначить файл устройству
      tags: [Admin Devices]
      parameters:
        - name: deviceId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                file_id:
                  type: integer
              required: [file_id]
      responses:
        "200":
          description: OK


  ############################
  # ADMIN FILES
  ############################

  /admin/files:
    get:
      summary: Получить список всех файлов
      tags: [Admin Files]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/File"

  /admin/files/upload:
    post:
      summary: Загрузка медиафайла
      tags: [Admin Files]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
              required: [file]
      responses:
        "200":
          description: File uploaded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/File"

  /admin/files/{fileId}:
    get:
      summary: Получить метаданные файла
      tags: [Admin Files]
      parameters:
        - name: fileId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/File"

    delete:
      summary: Удалить файл
      tags: [Admin Files]
      parameters:
        - name: fileId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Deleted


  ############################
  # DEVICE AUTH
  ############################

  /device/auth:
    post:
      summary: Аутентификация устройства
      tags: [Device]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                device_token:
                  type: string
              required: [device_token]
      responses:
        "200":
          description: JWT токен
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  device_id:
                    type: string


  ############################
  # DEVICE — CHECK UPDATES
  ############################

  /device/check-updates:
    get:
      summary: Проверка наличия новых файлов
      tags: [Device]
      responses:
        "200":
          description: Update status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceUpdateResponse"


  ############################
  # DEVICE — DOWNLOAD FILE
  ############################

  /device/download/{fileId}:
    get:
      summary: Скачать файл для устройства
      tags: [Device]
      parameters:
        - name: fileId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Binary file stream
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary


  ############################
  # DEVICE — REPORT STATUS
  ############################

  /device/report-status:
    post:
      summary: Сообщить статус устройства
      tags: [Device]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeviceStatusReport"
      responses:
        "200":
          description: OK


  ############################
  # DEVICE — LOGS
  ############################

  /device/log:
    post:
      summary: Отправка логов устройства
      tags: [Device]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                timestamp:
                  type: string
      responses:
        "200":
          description: OK


components:
  schemas:

    Device:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        status: { type: string }
        last_sync: { type: string, format: date-time }

    File:
      type: object
      properties:
        id: { type: integer }
        filename: { type: string }
        size: { type: integer }
        hash: { type: string }

    FileDescriptor:
      type: object
      properties:
        filename: { type: string }
        hash: { type: string }

    DeviceStatusReport:
      type: object
      properties:
        device_id: { type: string }
        free_space: { type: integer }
        files:
          type: array
          items:
            $ref: "#/components/schemas/FileDescriptor"

    DeviceUpdateResponse:
      type: object
      properties:
        update_required: { type: boolean }
        files:
          type: array
          items:
            type: object
            properties:
              file_id: { type: integer }
              filename: { type: string }
              url: { type: string }
              hash: { type: string }